*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #1e87dd;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 100px;
  color: white;
}

.input-box{
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}

.input-box input{
  width: 100%;
  padding: 10PX 0;
  border: 0;
  outline: none;
font-size: 24px;
color: #555;
}
.input-box input :placeholder-shown{
  padding-left: 10px;
}

.input-box .bx{
  width: 35px;
  line-height: 35px;
  cursor: pointer;
  color: #555;
}
.input-box .bx:hover{
  color: red;
  line-height: 50px;
}