@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #31a8e8;
}
.main-box{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50% -50%);
} 
.main-box label{
  position: relative;
  background-color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 35px;
  display: block;
  text-align: center; 
  line-height: 50px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: #0984e3;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.main-box label:before{
  content: "cancel";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 35px;
  opacity: 0;
  pointer-events: none;
}

.main-box label:hover{
  letter-spacing: 2px;
}
 #check{
  display: none;
 }
 #check:checked ~ label:before{
  opacity: 1;
  pointer-events: auto;
 }

 .icons{
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  height: 100%;
  width: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 35px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
 }

 .icons::before{
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background: #fff;
  bottom: -9px;
  transform: rotate(45deg);
 }

 #check:checked ~ .icons{
  opacity: 1;
  pointer-events: auto;
  top: -65px;
 }
 .icons a{
  font-size: 22px;
  color: #0984e3;
  transition: all 0.3s ease;
 }
 .icons a{
  color: #0984e3;
  font-size: 22px;
  border-radius: 50%;
 }
 .icons a:hover{
  transform: translateY(-3px);
 }
 .icons a:nth-child(1):hover{
  color: darkblue;
 }

 .icons a:nth-child(2):hover{
  color: #E4405F;
 }

 .icons a:nth-child(3):hover{
  color: #0aae28;
 }
 .icons a:nth-child(4):hover{
  color: red;
 }